@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  background-color: #1d211e;
}

nav,
ul {
  background-color: #e67c1f;
}

nav ul li {
  margin-left: -5px;
}

li:hover {
  background-color: #8f511b;
  transition: 0.5s;
}

ul {
  text-align: center;
}

li,
.dropdown-first,
.dropdown-second {
  padding: 15px 20px 15px 20px;
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.dropdown-first {
  margin: 0;
  padding: 0;
}

.dropdown-second {
  padding: 0;
}

.dropdown-first li {
  width: 142px;
  margin: 0;
}

.dropdown-second li {
  width: 130px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.dropdown-first,
.dropdown-second {
  display: none;
}

#web-design {
  position: relative;
}
#web-design:hover .dropdown-first {
  display: block;
  position: absolute;
  top: 99%;
  right: -1%;
}

#tutorials:hover .dropdown-second {
  display: block;
  position: absolute;
  top: -2%;
  left: 100%;
}
